@model IEnumerable<Generate_TestCase_Selenium_Web.Models.ModelDB.Test_case>

@{
    ViewData["Title"] = "Test case";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<h1>Test case</h1>
<hr />
<div class="container">
    <div class="text-right">

        @*<a class="btn btn-primary" asp-action="RunTestCase" asp-route-id_url="@ViewBag.id_url" role="button">Run test case</a>*@
        <button type="button" class="btn btn-primary btn-lg" name="submit_id" id="btn_id" onclick="Run_by_id()">Run test case</button>
    </div>
</div>
<br />
@using (Html.BeginForm("RunTestCase", "GenerateTestCases", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", @class = "dropzone dropzone-custom needsclick add-professors dz-clickable", @id = "testcaseform", @novalidate = "novalidate", @name = "testcaseform", @id_url = ViewBag.id_url }))
{
    <input id="id_url" name="id_url" value="@ViewBag.id_url" hidden readonly />
    <div class="table-responsive">

        <table id="testcasetable" class="table table-striped table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayName("Id test case")
                    </th>
                    <th>
                        @Html.DisplayName("Description")
                    </th>
                    <th>
                        @Html.DisplayName("Result")
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.is_test)
                        </th>*@
                    <th>
                        @Html.DisplayName("CreatedDate")
                    </th>
                    <th>
                        @Html.DisplayName("ModifiedDate")
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.id_urlNavigation)
                        </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="list_Idtestcase" id="list_Idtestcase" value="@item.id_testcase" checked/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_testcase)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>

                        @if (item.result.Equals("Pass"))
                        {
                            <td style="color:green">
                                @Html.DisplayFor(modelItem => item.result)
                            </td>
                        }
                        else
           if (item.result.Equals("Skip"))
                        {
                            <td style="color:blue">
                                @Html.DisplayFor(modelItem => item.result)
                            </td>
                        }
                        else
                        {
                            <td style="color:red">
                                @Html.DisplayFor(modelItem => item.result)
                            </td>
                        }

                        @*<td>
                                @Html.DisplayFor(modelItem => item.is_test)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.id_urlNavigation.name)
                            </td>*@
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script>


    $(document).ready(function () {
        $('#testcasetable').DataTable(
            {
                "lengthMenu": [[10, 25, 50, - 1], [10, 25, 50, "All record"]],
                
            }
        );
    });
        function Run_by_id() {
            document.getElementById("testcaseform").submit();
        };

</script>
