
@{
    ViewData["Title"] = "Process";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>Process is running test case</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="User" asp-controller="Process" asp-action="Index">Progress</a></li>
    <li class="breadcrumb-item active">Progress ID: @ViewBag.JobId</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-5"><i class="fas fa-tasks"></i> @ViewBag.JobId</div>
            <div class="col-7">
                <div class="container">
                    <div class="text-right">
                        <a role="button" class="btn btn-primary" asp-area="User" asp-controller="Results" asp-action="ResultDetail" asp-route-id="@ViewBag.JobId">Result</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <p>
            Status of run test case: <strong>
                @{
                    if (@ViewBag.Message != null)
                    {
                        <span id="job-status">@ViewBag.Message...</span>
                    }
                    else
                    {
                        <span id="job-status">Wating...</span>
                    }
                }

            </strong>
        </p>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/signalr/signalr.js"></script>
    <script>
        document.head || (document.head = document.getElementsByTagName('head')[0]);
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/jobprogress")
            .configureLogging(signalR.LogLevel.Information)
            .build();

         connection.on("@ViewBag.JobId",
            (message) => {

                document.getElementById("job-status").innerText = message;
                if (message === "Finished!") {
                    alert("Run Finished!");
                }
            });
        connection.start()
            .then(_ => connection.invoke("AssociateJob", "@ViewBag.JobId"))
            .catch(err => console.error(err.toString()));


    </script>
}

