@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@*<img src="~/assets/images/selenium.jpg" />*@
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light">Login</h3></div>
                    <div class="card-body">
                        <form id="account" method="post">

                            <div class="form-group">
                                <label class="small mb-1" asp-for="Input.UserName"></label>
                                <input asp-for="Input.UserName" class="form-control py-4" placeholder="Enter username" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control py-4" type="password" placeholder="Enter password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                <button type="submit" class="btn btn-primary">Log in</button>

                                @*<p>
                                        <a class="small" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                    </p>*@
                            </div>
                        </form>
                        <div class="text-center">
                            <p>Or</p>
                        </div>
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {


                                                if (provider.DisplayName.ToLower() == "google")
                                                {
                                                    <button type="submit" class="btn btn-danger" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-google pr-1"></i>Login with Google </button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }


                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Need an account? Sign up!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<br />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}