@model IEnumerable<Generate_TestCase_Selenium_Web.Models.ModelDB.Test_schedule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>Test schedule</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Test schedule</li>
</ol>

<hr />
<div class="row">

    <div class="col-2">
        <div class="row form-group">
            <div class="col col-lg-10">Filtered By:</div>

        </div>
    </div>
    <div class="col-4">
        <div class="row form-group">
            <div class="col col-lg-5">Testcase type</div>
            <div class="col col-lg-6">
                <select class="form-control" id="tag_name_elt"></select>
            </div>
        </div>
    </div>

</div>
<partial name="~/Views/Shared/_StatusMessage.cshtml" model="@ViewBag.Message" />
<div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-3"><i class="fas fa-table mr-1"></i>Test cases list</div>
            <div class="col-9">
                <div class="container">
                    <div class="text-right">
                        <a role="button" class="btn btn-primary" name="newSchedule" id="newSchedule" asp-action="LoadProject" >New Schedule</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="scheduletable" class="table table-striped table-condensed table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Schedule id")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                        <th>
                            @Html.DisplayName("Created Date")
                        </th>
                        <th>
                            @Html.DisplayName("Job repeat time")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id_schedule)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                              
                            </td>
                            <td>
                                @*@Html.Display(item.job_repeat_time)*@
                                @{
                                    string[] time = item.job_repeat_time.Split(':');
                                    string h = string.Format("{0:00}", int.Parse(time[0]));
                                    string m = string.Format("{0:00}", int.Parse(time[1]));
                                    <p>@h:@m</p>
                                }
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.id_schedule" role="button" class="btn btn-primary">Edit time</a>*@
                                <a asp-action="DetailSchedule" asp-route-scheduleId="@item.id_schedule" role="button" class="btn btn-success">Details</a>
                                @{
                                    if (item.status.Equals("running"))
                                    {
                                        <a asp-action="Stop_schedule" asp-route-scheduleId="@item.id_schedule" role="button" class="btn btn-warning">Stop</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Start_schedule" asp-route-scheduleId="@item.id_schedule" role="button" class="btn btn-success">Start</a>
                                    }

                                }
                                @{ 
                                    var a = "deleteModal" + @item.id_schedule;

                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@a">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="@a" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Are you sure you want to delete this schedule?
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <a asp-action="Delete_schedule" asp-route-scheduleId="@item.id_schedule" role="button" class="btn btn-primary">Yes</a>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        var table = $('#scheduletable').DataTable(
            {
                "lengthMenu": [[10, 25, 50, - 1], [10, 25, 50, "All record"]],
              
                
                       initComplete: function () {
                    this.api().columns(3).every(function () {
                        var column = this;
                        var select = $('#tag_name_elt')
                            .appendTo($('#tag_name_elt').empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        select.append('<option value="">All</option>')
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                 
                },
            }
        );

    });
</script>