@model IEnumerable<Generate_TestCase_Selenium_Web.Models.ModelDB.Element>

@{
    ViewData["Title"] = "Element Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    div.dataTables_wrapper {
        /*width: 800px;*/
        margin: 0 auto;
    }
</style>

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css">
<h1>
    Element obtained from website
</h1>
<hr />
<partial name="~/Views/Shared/LoadingViewPartial.cshtml" model="@ViewBag.LoadingTitle" />
@{

    if (ViewBag.Nosubmit == true)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Not found an object of type submit. You can choose an element to set submit.
        </div>
    }
}
<div class="container">
    <div class="text-right">
        @*<input type="button" name="submit_id" id="btn_id" value="Delete element(s)" onclick="Delete_by_id()" />*@
        <button type="button" name="deletebtn" id="btn-delete" class="btn btn-custon-rounded-three btn-danger btn-xs" data-toggle="modal" data-target="#Delete">Delete Element(s)</button>
        <button type="button" name="generatebtn" id="btn-generate" class="btn btn-custon-rounded-three btn-success btn-xs" onclick="Generate_by_id();">Generate from element selected</button>
        <!-- Modal -->

        <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="center">
                <div class="modal-dialog modal-dialog-center" role="document">
                    <div class="modal-content">

                        @Html.ValidationSummary(true, null, new { @class = "alert alert-block alert-danger fade in" })
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete element(s)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="row form-group">
                                <div class="col col-md-12">Are you sure?</div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" name="submit_id" id="btn_id" onclick="Delete_by_id()">I sure</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @{

            if (ViewBag.Nosubmit == true)
            {
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Generate test case
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Waring</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>The site cannot find an object of type submit.</p>
                                <p>You can choose an element to set submit or click next to continue generating test cases.</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" asp-action="Generate_testcase" asp-controller="GenerateTestCases" asp-route-id_url="@ViewBag.id_url" role="button" onclick="ShowProgress();">Continue</a>

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Generate_testcase" asp-controller="GenerateTestCases" asp-route-id_url="@ViewBag.id_url" role="button" onclick="ShowProgress();">Generate test case</a>
            }
        }


    </div>
</div>
<br />
<div class="row">

    <div class="col-2">
        <div class="row form-group">
            <div class="col col-lg-10">Filtered By:</div>

        </div>
    </div>
    <div class="col-3">
        <div class="row form-group">
            <div class="col col-lg-5">Tag name</div>
            <div class="col col-lg-6">
                <select class="form-control" id="tag_name_elt"></select>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="row form-group">
            <div class="col col-lg-3">Type</div>
            <div class="col col-lg-9">
                <select class="form-control" id="type_elt"></select>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="row form-group">
            <div class="col col-lg-3"> <label>Form</label></div>
            <div class="col col-lg-9">
                <select class="form-control" id="form_elt"></select>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Shared/_StatusMessage.cshtml" model="@ViewBag.Message" />
@using (Html.BeginForm("DeleteList", "CrawlElements", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", @class = "dropzone dropzone-custom needsclick add-professors dz-clickable", @id = "elementform", @novalidate = "novalidate", @name = "elementform", @id_url = ViewBag.id_url }))
{
    <input type="text" name="id_url" class="input-md form-control" id="id_url" required placeholder="Project Name" hidden readonly value="@ViewBag.id_url">
    <input id="isGenerate" name="isGenerate" value="false" hidden readonly />
    <div class="table-responsive">
        <table id="elttable" class="table table-striped table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th @*style='width: 5%;'*@><input type="checkbox" id="checkall" /></th>
                    <th @*style='width: 20%;'*@>
                        @Html.DisplayName("Id element")
                    </th>
                    <th @*style='width: 20%;'*@>
                        @Html.DisplayName("Name")
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.class_name)
                        </th>*@
                    <th @*style='width: 20%;'*@>
                        @Html.DisplayName("Tag name")
                    </th>
                    <th @*style='width: 10%;'*@>
                        @Html.DisplayName("Type")
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.href)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.title)
                        </th>*@
                    <th>
                        @Html.DisplayName("Title")
                    </th>
                    <th @*style='width: 10%;'*@>
                        @Html.DisplayName("Id form")
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.minlength)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.maxlength)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.required)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.read_only)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.max_value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.min_value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.multiple)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.xpath)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.id_urlNavigation)
                        </th>*@
                    <th @*style='width: 15%;'*@>@Html.DisplayName("Action")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="eltId_Delete" id=@item.id_element value="@item.id_element" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_element)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.class_name)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.tag_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.href)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.title)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_form)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.minlength)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.maxlength)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.required)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.read_only)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.max_value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.min_value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.multiple)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.xpath)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.id_urlNavigation.name)
                            </td>*@
                        <td>
                            @{
                                string detail = "d" + @item.id_element.ToString();
                                <button type="button" class="btn btn-custon-rounded-three btn-success btn-xs" data-toggle="modal" data-target="#@detail">Detail</button>

                                <!-- Modal -->

                                <div class="modal fade" id="@detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="center">
                                        <div class="modal-dialog modal-dialog-center" role="document">
                                            <div class="modal-content">
                                                @using (Html.BeginForm("AddSubmit", "CrawlElements", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", @class = "dropzone dropzone-custom needsclick add-professors dz-clickable", @id = detail, @novalidate = "novalidate", @name = "blockform" }))
                                                {
                                                    @Html.ValidationSummary(true, null, new { @class = "alert alert-block alert-danger fade in" })
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Detail element</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <input type="text" name="id_url" class="input-md form-control" id="id_url" required placeholder="Project Name" hidden readonly value="@ViewBag.id_url">
                                                    <div class="modal-body">
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">@Html.Label("Id element")</div>
                                                            <div class="col-12 col-md-9">
                                                                <input type="text" name="id_element" class="input-md form-control" value="@item.id_element" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">@Html.Label("Name")</div>
                                                            <div class="col-12 col-md-9">
                                                                <input type="text" name="reasonBlockPost" class="input-md form-control" value="@item.name" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">@Html.Label("Class Name")</div>
                                                            <div class="col-12 col-md-9">
                                                                <input type="text" name="reasonBlockPost" class="input-md form-control" value="@item.class_name" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">@Html.Label("Value")</div>
                                                            <div class="col-12 col-md-9">
                                                                <input type="text" name="reasonBlockPost" class="input-md form-control" value="@item.value" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">@Html.Label("Href")</div>
                                                            <div class="col-12 col-md-9">
                                                                <input type="text" name="reasonBlockPost" class="input-md form-control" value="@item.href" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">@Html.Label("Title")</div>
                                                            <div class="col-12 col-md-9">
                                                                <input type="text" name="reasonBlockPost" class="input-md form-control" value="@item.title" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">@Html.Label("Xpath")</div>
                                                            <div class="col-12 col-md-9">
                                                                <input type="text" name="reasonBlockPost" class="input-md form-control" value="@item.xpath" readonly />
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        @{
                                                            if ((item.tag_name == "a" || item.tag_name == "button") && (item.href == null
                                                                //|| !item.href.Contains("/")
                                                                )
                                                                && item.type != "submit")
                                                            {
                                                                <button type="submit" class="btn btn-primary">Set type submit</button>
                                                            }
                                                        }
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>

                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<br />
<br />
<hr />
<script>


    $(document).ready(function () {
        $('#elttable').DataTable(
            {
                "fixedHeader": true,
                "lengthMenu": [[5,10, 25, 50, - 1], [5,10, 25, 50, "All record"]],
                "ordering": false,
                "scrollY": "400px",
                "scrollX": true,
        "scrollCollapse": true,
        "paging":         false,
                initComplete: function () {
                    this.api().columns(3).every(function () {
                        var column = this;
                        var select = $('#tag_name_elt')
                            .appendTo($('#tag_name_elt').empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        select.append('<option value="">All</option>')
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                    this.api().columns(4).every(function () {
                        var column = this;
                        var select = $('#type_elt')
                            .appendTo($('#type_elt').empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        select.append('<option value="">All</option>')
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                    this.api().columns(6).every(function () {
                        var column = this;
                        var select = $('#form_elt')
                            .appendTo($('#form_elt').empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        select.append('<option value="">All</option>')
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },


            }

        );
    });
    function Delete_by_id() {
        ShowProgress();
        document.getElementById("elementform").submit();
    };
     function Generate_by_id() {
        document.getElementById("isGenerate").value = "true";
        ShowProgress();
        document.getElementById("elementform").submit();
    };
    $(function () {
        $("#checkall").click(function () {
            $("input[name='eltId_Delete']").prop("checked", this.checked);

            $("input[name='eltId_Delete']").click(function () {
                if ($("input[name='eltId_Delete']").length == $("input[name='eltId_Delete']:checked").length) {
                    $("#checkall").prop("checked", "checked");
                }
                else {
                    $("#checkall").prop("checked", false);
                }
            });

        });

    });
    @*function validation() {
var name = document.getElementById("name").value;
var email = document.getElementById("email").value;
var emailReg = /^([w-.]+@([w-]+.)+[w-]{2,4})?$/;
if (name === '' || email === '') {
alert("Please fill all fields...!!!!!!");
return false;
} else if (!(email).match(emailReg)) {
alert("Invalid Email...!!!!!!");
return false;
} else {
return true;
}
}*@
</script>
