@model IEnumerable<Generate_TestCase_Selenium_Web.Models.ModelDB.Test_element_Result_test>

@{
    ViewData["Title"] = "TestElement";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}
<h2>Validate items of test case @ViewBag.id_testcase</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="User" asp-controller="Results" asp-action="Index">Results</a></li>
    <li class="breadcrumb-item"> <a asp-action="ResultDetail" asp-route-id="@ViewBag.id_result">Details</a></li>
    <li class="breadcrumb-item active">Validate items</li>
</ol>
<hr />
<partial name="~/Views/Shared/_StatusMessage.cshtml" model="@ViewBag.Message" />

<hr />
<div class="card mb-4">
    <div class="card-header">

        <div class="row">
            <div class="col-2">
                <i class="fas fa-table mr-1"></i>Test elements list
            </div>
            <div class="col-10">
                <div class="container">
                    <div class="text-right">
                       

                        @*@{
                            if (ViewBag.urlRedirecttest == ViewBag.current_url && (ViewBag.urlRedirecttest != "" && ViewBag.current_url != ""))
                            {
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#urlredirect">
                                    <i class="fas fa-check" style="color:green"></i>Url redirect
                                </button>
                            }
                            else if (ViewBag.urlRedirecttest != ViewBag.current_url && (ViewBag.urlRedirecttest != "" && ViewBag.current_url != ""))
                            {
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#urlredirect">
                                    <i class="fa fa-close" style="color:white"></i>Url redirect
                                </button>
                            }
                            else
                            { <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#urlredirect">
                                    Add url redirect
                                </button>
                            }


                        }*@


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered" id="exam">
                <thead>
                    <tr>
                        <td></td>
                        <th>
                            @Html.DisplayName("Xpath")
                        </th>
                      
                        <th>
                            @Html.DisplayName("Value return")
                        </th>
                        <th>
                            @Html.DisplayName("Value test")
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @{
                                    if (item.value == item.value_test && (item.value != null && item.value_test != null))
                                    {
                                        <i class="fas fa-check" style="color:green"></i>
                                    }
                                    else if (item.value != item.value_test && (item.value != null && item.value_test != null))
                                    {
                                        <i class="fa fa-close" style="color:red"></i>
                                    }


                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.xpath)
                            </td>
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value_test)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

  
    $(document).ready(function () {
        $('#exam').DataTable(
            {
                "lengthMenu": [[5, 10, - 1], [5, 10, "All record"]],
                //"scrollY": "300px",
                //"scrollX": true,
                //"scrollCollapse": true,
                //"columnDefs": [
                //    { width: 200, targets: 0 }
                //],
                //"fixedColumns": true
            }
        );
    });
</script>